<!DOCTYPE html>
<html>
    <head>
        <title>Subreddit Meme</title>
        <meta name="viewport" content="widht=device.wight, intial-scale=1">
        <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000/"/>
        <style>

        </style>
    </head>
    <body>
        <h1>Random Meme From Subreddit</h1>
        <p>Here is Your Random Meme! It Will Refresh in 30 seconds!</p>
        <p><img src="{{meme_pic}}"></p>
        <p>Current Subreddit: {{"subreddit"}}</p>
    </body>
</html>